extends base.pug
block title
  | Roles
block body
  | {% if req.status_code == 200 %}
  .row
    form.col.l3(action="" method='post')
      .row
        .input-field.col.s12
          input#role_name.validate(placeholder='Enter A New Role Name', type='text', name="role_name")
      .row
        button.btn.waves-effect.waves-light(type='submit', name='action')
          | Create Role
          i.material-icons.right send

    .col.l9
      ul.collapsible(data-collapsible="expandable")
        | {% for item in req.json()['roles']['rows'] %}
        li
          .collapsible-header {{item.name}}
            span.right
              a.waves-effect.waves-light.btn(href="{{url_for('roles_specific', id=item.id)}}") DELETE
          .collapsible-body {% for k,v in item.items() %}
            p {{ "{}: {}".format(k,v) }}
            {% endfor %}

        | {% endfor %}
        | {% else %}
        | {% endif %}
    